body {
	background-color: gray;
}

h1 {
	font-color: lightblue;
	font-weight: bold;
	font-size: 40px;
	font-family: Trebuchet MS;
}

h2 {
	font-color: black;
	font-size: 25px;
	font-family: Geneva;
}

p {
	font-color: navy;
	font-size: 20px;
	font-family: Helvetica;
}
