body {
	background-color: lightblue;
}

h1 {
	color: navy;
	font-weight: bold;
	font-size: 50px;
	font-family: Trebuchet MS;
}

h2 {
	color: navy;
	font-size: 25px;
	font-family: Geneva;
}

p {
	color: black;
	font-size: 20px;
	font-family: Helvetica;
}
